.vscode
.ipynb_checkpoints
Deep Learning A-Z 的資料集/
Deep Learning A-Z的資料集/
A-Z的資料集/
exam/
*.pptx
*.ai
*.pdf
*.html
1081_期中考補考*.*
1081_DataMining*.*
*.mp4
Clustering/Cluster資料分佈及演算法說明.ipynb
DNN 類神經/DNN.Hidden Layer Explain.ipynb
__pycache__/mypackage.cpython-37.pyc
Decision Tree/tree.dot
